# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/
env/

# Environment Variables
.env

# Node
node_modules/

# Build Files
dist/
build/

# VS Code
.vscode/

# Logs
*.log

# Chart Artifacts
charts/*.png
charts/*.jpg

# OS Files
.DS_Store
Thumbs.db